<ng-template #template>
  <div class="modal-body center">
    <h3 class="center">To complete this token request, please send {{response.BchAmount}} BCH</h3>
    <qrcode class="qrCode" [qrdata]="response.Address" [size]="256" [level]="'M'"></qrcode>
    <br />
    <br />
    <label class="center">{{response.Address}} </label>
    <br />
    <br />
    <p>Upon receiving payment, your tokens will immediately be issued.  We will also send you a confirmation email</p>
  </div>
</ng-template>

<div class="hero">
  <div class="hero__image" style="background-image: url('assets/bg.jpg');" id="ParallaxImage"></div>
  <div class="hero__content" id="ParallaxContent">
    <h1>WHC Tokens</h1>
    <h4>Build a custom token on Bitcoin Cash</h4>
  </div>
</div>

<div class="copy">
  <h2>Proudly built on</h2>
  <h3><img src="https://www.bitcoincash.org/media-kit/6-bitcoin-cash-logo-horizontal-small.png"></h3>
  <p>In roughly 10 minutes, you can issue your very own decentralized token!</p>

  <form (submit)="process()" ngNativeValidate>
    <div>
      <div class="row">
        <div class="col">
          <input type="number" class="form-control" min="0" max="10" step="1" name="precision" [(ngModel)]="token.Precision"
            placeholder="Precision (0-10)" required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Name of Token" name="name" [(ngModel)]="token.Name" required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Category (ex. Finance)" name="category" [(ngModel)]="token.Category"
            required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="number" class="form-control" min="1" name="amount" placeholder="Amount to issue" [(ngModel)]="token.Amount"
            required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" name="addr" placeholder="Receiving Address (bitcoincash:address)"
            [(ngModel)]="token.CoinbaseAddress" required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="email" class="form-control" name="email" placeholder="Email" [(ngModel)]="token.Email" required>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <select class="form-control" name="network" [(ngModel)]="token.Network" aria-placeholder="Network" required>
            <option value="mainnet">Mainnet</option>
            <option value="testnet" disabled>Testnet - Coming soon</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button type="submit" [disabled]="loading" class="btn btn-primary">Create Token!</button>
        </div>
      </div>
    </div>
  </form>

  <p><a href="bitcoin.com" target="_blank">Bitcoin.com</a></p>
</div>
